<div id="content" class="hero-unit">
    <h1>Sushi</h1>
    <p>What is sushi?</p>
    <span>Sushi is an UI Helpers Library for your .NET MVC Applications, actually is under development, and it's not recommended for your production applications.
        Sushi uses Bootstrap, Datatables and a lot of stuff more. At this site you will find tutorials about how to use the different sushi components.
        You can install sushi in your MVC project using Nuget, or you can download the source code from github.
    </span>
</div>
<div class="row row-fluid">
    <div class="span3 offset1">
        <h2>Nuget Ready</h2>
        <span>You can install the library with Nuget.</span>
    </div>
    <div class="span3 offset1">
        <h2>Github Source</h2>
        <span>Also you can download the source code hosted on github</span>
    </div>
    <div class="span3 offset1">
        <h2>MIT License</h2>
        <span>Free Software</span>
    </div>
</div>





