@using Sushi.Helpers.Enums
@using Sushi.Helpers.Extensions
@using Sushi.Helpers.LinkHelper
@using Sushi.Helpers.NavigationHelper

<div id="content" class="jumbotron">
    <h1>Sushi</h1>
    <p>MVC 4 UI Helpers Library</p>
    <span>Sushi is an UI Helpers Library for your .NET MVC Applications. <br/>
        Sushi offers a collection of HTMLHelpers simple, elegant with a lots of features.
        You can install sushi in your MVC project using Nuget, or you can download the source code from github.
    </span>
    <br/>
    <br/>
    @Html.Sushi().Button().SetCaption("Download Now").SetSize(ButtonSize.large).SetBehaviour(HtmlBehaviourType.Link).SetType(ButtonType.Success).SetAction("http://github.com/jmanuelcorral/sushi")
    @Html.Sushi().Button().SetCaption("Fork in Github").SetSize(ButtonSize.large).SetBehaviour(HtmlBehaviourType.Link).SetType(ButtonType.Info).SetAction("http://github.com/jmanuelcorral/sushi")
</div>




