@using Sushi.Helpers.Extensions
@using Sushi.Helpers.Gridhelper
@using Sushi.Helpers.Enums
@using Sushi.Helpers.LinkHelper
@using Sushi.Helpers.NavigationHelper


<div id="content" class="hero-unit">
    <h1>Sushi</h1>
    <h2>Menu Navigation</h2>
    <span>An Explanation about menu and navigation Elements</span>
</div>

<ul class="nav nav-tabs">
    <li class="active" id="btnSnippets"><a href="#" >Code snippets</a></li>
    <li id="btnPositioning"><a href="#" >Menu Positioning</a></li>
    <li id="btnResult"><a href="#" >Result</a></li>
</ul>
<div id="snippets" class="span12">
    <h2>Snippets</h2>
    CODE SNIPPETS
</div>
<div id="positioning" class="span12" style="display:none">
    <h2>Menu Positioning</h2>
    CODE SNIPPETS
</div>
<div id="result" style="display: none">
@using (Html.Sushi().BeginBlock(GridSize.span12))
{
    <h2>Result</h2>
    @(Html.Sushi().Menu()
            .AddNavigation(new Navigation("Menu1")
                .AddLink(new Link().SetCaption("Menu item 1").SetAction(@Url.Content("~/menu/navigation")))
                .AddLink(new Link().SetCaption("Menu item 2").SetAction("#"))
                .AddSeparator()
                .AddLink(new Link().SetCaption("Menu item 3").SetAction("#"))
            )
    )
}
</div>
@section scripts
{
    @Html.Sushi().ScriptManager()
    <script type="text/javascript">
        $(document).ready(function () {
            $("#btnSnippets").click(function () {
                $("#btnResult").removeClass("active");
                $("#btnPositioning").removeClass("active");
                $("#btnSnippets").addClass("active");
                $("#snippets").css("display", "block");
                $("#result").css("display", "none");
                $("#positioning").css("display", "none");
            });
            $("#btnResult").click(function () {
                $("#btnResult").addClass("active");
                $("#btnSnippets").removeClass("active");
                $("#btnPositioning").removeClass("active");
                $("#result").css("display", "block");
                $("#snippets").css("display", "none");
                $("#positioning").css("display", "none");
            });
            $("#btnPositioning").click(function () {
                $("#btnPositioning").addClass("active");
                $("#btnSnippets").removeClass("active");
                $("#btnResult").removeClass("active");
                $("#result").css("display", "none");
                $("#snippets").css("display", "none");
                $("#positioning").css("display", "block");
            });
        });
    </script>
}
